# .ebextensions/01-environment-variables.config
# ATENCIÓN: Este archivo se subirá a tu repositorio de Git.
# Asegúrate de que las credenciales no sean sensibles si el repositorio es público.

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_ENV
    value: production

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_HOST
    value: localhost

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_NAME
    value: markdown2video # <-- REEMPLAZAR ESTE VALOR

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_USER
    value: admin # <-- REEMPLAZAR ESTE VALOR

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_PASS
    value: admin1234 # <-- REEMPLAZAR ESTE VALOR

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_SERVICE_URL
    value: http://localhost:3000
